
{{#> general }}

    {{#*inline 'content-block'}}

<div id="content" style="text-align: left; font-weight: 400 !important;" >
    <p>Recupera el acceso a la plataforma siguiendo las instrucciones siguiente link. En caso de no haber solicitado este procedimiento simplemente ignora este mensaje.</p>
</div>
<div id="content" style="text-align: center; font-weight: 400 !important;" >
    <a href="https://www.hcseagle.com/recoverAccount/{{token}}" style="display: block; width: 165px; height: 25px; padding: 10px; text-align: center; line-height: 25px; font-weight: bold; color: white; background: #3388bd; margin: 15px auto; text-decoration: none; border-radius: 6px;">Recuperar cuenta</a>
</div>

    {{/inline}}
{{/general}}